// ======================================================
// Layout :: Blank Page
// ======================================================

.blank-page-title {
  margin: 6px 0 5px;
  color: $cl-darkgray-1;
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: -1px;
}
