// ======================================================
// Pages :: Login v2
// ======================================================

.login__control {
  padding-top: 20px;

  & > :first-child {
    padding-right: 10px;
  }

  & > :last-child {
    padding-left: 10px;
  }
}
