// ======================================================
// Components :: Calendar
// ======================================================

.input-date-picker {
  .input-group-text {
    background-color: $cl-primary;
    border-color: $cl-primary;
    color: $cl-white;
    font-size: 24px;
  }
}

//- Custom Icon DateTimePicker

.glyphicon-arrow-right,
.icon-arrow-right {
  &:before {
    content: '\f2fb';
    font-family: $font-icon;
    font-size: 25px;
    text-rendering: auto;
  }
}

.glyphicon-arrow-left,
.icon-arrow-left {
  &:before {
    content: '\f2fa';
    font-family: $font-icon;
    font-size: 25px;
    text-rendering: auto;
  }
}
