// ======================================================
// Components :: Radio Button
// ======================================================

.input-radio-custom {
  display: block;
  min-height: 1.7rem;
  min-width: 1.7rem;
  margin-top: 2px;
  margin-bottom: 14px;
  position: relative;
  padding-left: 2.2rem;

  // Modifier: Radio Inline

  &--inline {
    display: inline-flex;
    margin-right: 18px;
  }

  // Modifier: Radio Icon

  &--icon {
    padding: 7px 0;
    width: 52px;
    height: 52px;

    .radio-custom:checked + .radio-icon-custom {
      border-color: $cl-primary;
      color: $cl-primary;
      background-color: $cl-white;
    }
  }

  .radio-custom {
    position: absolute;
    z-index: -1;
    opacity: 0;

    //- Checked Radio-Button

    &:checked ~ .radio-label-custom:before {
      border-color: $cl-primary;
      background-color: $cl-white;
    }

    &:checked ~ .radio-label-custom:after {
      content: '';
      width: 10px;
      height: 10px;
      margin: 0 0;
      background-color: $cl-primary;
      border-radius: 50%;
      top: 6px;
      left: 6px;
    }

    //- Full Color Radio-Button

    &:checked ~ .radio-label-color:after {
      background-color: $cl-white;
    }

    &:checked ~ .radio-label-color:before {
      background-color: $cl-primary;
    }
  }

  .radio-label-custom {
    position: static;
    display: inline-block;
    line-height: 1.8;
    white-space: nowrap;
    margin-bottom: 0;
    vertical-align: top;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1.7rem;
      height: 1.7rem;
      border: 1px solid $cl-silver-1;
      border-radius: 50%;
      margin: 0 0;
      pointer-events: none;
      background-color: $cl-white;
      transition: all .15s ease-in-out;
    }

    &:after {
      content: '';
      width: 1.7rem;
      height: 1.7rem;
      background: no-repeat 50%/50% 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // Modifier: Validation Radio

  &.radio-valid {
    .radio-label-custom {
      color: $cl-success;

      &:before {
        background-color: $cl-white;
        border-color: $cl-success;
      }
    }

    .radio-custom {
      &:checked ~ .radio-label-custom:before {
        background-color: $cl-white;
        border-color: $cl-success;
      }

      &:checked ~ .radio-label-custom:after {
        background-color: $cl-success;
      }

      &:checked ~ .radio-label-color:before {
        background-color: $cl-success;
      }

      &:checked ~ .radio-label-color:after {
        background-color: $cl-white;
      }
    }
  }

  &.radio-invalid {
    .radio-label-custom {
      color: $cl-danger;

      &:before {
        background-color: $cl-white;
        border-color: $cl-danger;
      }
    }

    .radio-custom {
      &:checked ~ .radio-label-custom:before {
        background-color: $cl-white;
        border-color: $cl-danger;
      }

      &:checked ~ .radio-label-custom:after {
        background-color: $cl-danger;
      }

      &:checked ~ .radio-label-color:before {
        background-color: $cl-danger;
      }

      &:checked ~ .radio-label-color:after {
        background-color: $cl-white;
      }
    }
  }

  .radio-icon-custom {
    cursor: pointer;
    margin: 0;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border: 1px solid $cl-lightgray-9;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
    vertical-align: middle;
    color: $cl-silver-1;
  }
}

.input-group {
  .input-radio-custom {
    padding: 0;
  }
}
