// ======================================================
// Components :: Selectbox
// ======================================================
// stylelint-disable max-nesting-depth

// Modifier: Default Select2 Style

.select2-container {
  &--default {
    font-size: $font-size-medium - 1;

    .select2-selection {
      padding: 0 12px;

      &--single {
        height: 48px;

        .select2-selection__rendered {
          padding: 0;
          height: 100%;
          line-height: 48px;
        }

        .select2-selection__arrow {
          height: 100%;
        }
      }

      &--multiple {
        height: 48px;

        .select2-selection__choice {
          padding: 6px 5px;
        }
      }
    }

    .select2-search--dropdown {
      background-color: $cl-whitesmoke-4;
      border-bottom: 1px solid $cl-lightgray-9;

      .select2-search__field {
        background: transparent;
        border: none;
        outline: none;
      }
    }

    &.select2-container--focus {
      .select2-selection--multiple {
        border-color: $cl-silver-7;
        height: 48px;
      }
    }
  }
}
