extends modules/layout/_page-default

block head
  +head('Sign In')

block main
  .container-fluid.main-content
    .login
      .card.login__form
        .card-header
          img.login__img(src="images/beagle-logo.png", alt="Beagle Logo")
          span.login__desc Please enter your user information.
        .card-body
          form(action="home.html" method="POST")
            +group-input-field({
              id: 'username',
              type: 'text',
              placeholder: 'Username'
            })
            +group-input-field({
              id: 'password',
              type: 'password',
              placeholder: 'Password'
            })
            .form-group.form-custom.row.login__option
              .col-6
                +group-input-checkbox({
                  name: 'remember-me',
                  id: 'remember-me',
                  label: 'Remember Me',
                })
              .col-6.login__forgot-password
                a(href="07-page-forgot-pasword.html") Forgot Password?
            .form-group.form-custom.row.login__control
              .col-6
                a.btn.button.button--secondary.button--xl(href="06-page-sign-up.html") Register
              .col-6
                +buttons({
                  text: 'Sign in',
                  type: 'primary',
                  size: 'xl'
                })(type="submit" class="login__button")
