extends modules/layout/_page-default

block head
  +head('Beagle')

block main
  .container-fluid
    .page-404
      .page-404__number 404
      .page-404__desc The page you are looking for might have been removed.
      .page-404__suggest Would you like to go home?
      .page-404__back-to-home
        a.btn.button.button--primary.button--xl(href="#") Let's go home
      .page-404__footer &copy; 2018 Your Company
