extends modules/layout/_page-default

block head
  +head('Forgot Password')

block main
  .container-fluid.main-content
    .login.forgot-password
      .card
        .card-header
          img.login__img(src="images/beagle-logo.png", alt="Beagle Logo")
          span.login__desc Forgot your password?
        .card-body
          form(action="#" method="POST")
            p Don't worry, we'll send you an email to reset your password.
            +group-input-field({
              id: 'your-email',
              type: 'email',
              placeholder: 'Your Email'
            })
            p.forgot-password__help Don't remember your email?
              a(href="#") Contact Support
              |.
            .form-group.form-custom
              +buttons({
                text: 'Reset Password',
                type: 'primary',
                size: 'xl'
              })
      .forgot-password__footer &copy; 2018 Your Company
